.header_navigation_item .nav_card{
  color: #b6b6b6;
  /* border-bottom: 3px solid #b6b6b6; */
}

.card_word{
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #5c5c5c;
  margin-top: 60px;
  margin-bottom: 30px;
}

.card_content{
  max-width: 1000px;
  margin: 0 auto;
}


.card_word::after {
  content: url(images/dot2.png);
  padding: 0px 0px 5px 5px;
}

.card_word::before {
  content: url(images/dot1.png);
  padding: 0px 5px 5px 5px;
}

.flame{
  font-size: 24px;
  font-weight: 600;
  color: #5c5c5c;
  margin: 20px auto;
}

.flame img{
  width: 36px;
}

.card_top{
  max-width: 1000px;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  /* outline: 5px solid white; */
  display: flex;
}

.card_top li{
  background-size: cover;
  background-position: center center;
  transition: .5s;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.card_item01 {
  background-image: url("images/card_item01.png");
  flex-grow: 2;
}

.card_item02 {
  background-image: url("images/card_item02.png");
  flex-grow: 2;
}

.card_item03 {
  background-image: url("images/card_item03.png");
  flex-grow: 2;
}

.card_item03:hover{
  border-radius: 20px;
  background-image: url("images/card_item03_b.png")
  
}


.card_item02:hover{
  border-radius: 20px;
  background-image: url("images/card_item02_b.png")
}


.card_item01:hover{
  border-radius: 20px;
  background-image: url("images/card_item01_b.png")
}

.card_top li:hover{
  flex-grow: 3;
  ;
}


/* .credit_card{
  width: 1000px;
  margin: 80px auto;
} */



.card_contact{
  display: flex;
  justify-content: center;
  margin: 80px 20px 50px 20px;
}

.card_inner{
  width: 40%;
  margin-left: 30px;
  margin-top: 60px;
}

.card_name{
  color: #5c5c5c;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  border-left: 10px solid #D9D9D9;
  padding: 8px 0 8px 5px;
}


.card_name:hover{
  text-decoration: underline;
}


.card_name a{
  color: #5c5c5c;
  font-size: 26px;
  font-weight: 600;
}

.card_tag{
  display: inline-block;
  margin: 0 15px 20px 0;
  font-size: 20px;
  padding: 10px 15px 10px 10px;
  background-color: #D9D9D9;
  border-radius: 30px;
  color: white;
  box-shadow: 0px 2px 3px rgba(48, 48, 48, 0.252);
}

.card_contact_name{
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
}


    /* ----------螢幕小於750px時---------- */
    @media screen and (max-width: 750px){
      .card_contact{
          flex-direction: column;
          align-items: center;
      }
      .fin_contact_word{
          max-width: 60%;
      }
  
      .fin_link{
          margin-bottom: 50px;
      }

      .card_inner{
        width: 69%;
        align-items: start;
      }

      .card_contact{
        margin-top: 50px;
      }

      .card_inner{
        margin-top: 15px
      }

    }


        /* ----------螢幕小於550px時---------- */
        @media screen and (max-width: 550px){
          .card_inner{
            width: 81%;
          }
    
        }

        /* ----------螢幕小於450px時---------- */
        @media screen and (max-width: 450px){
          .card_img img{
            width: 100%;
          }
    
        }