.header_navigation_item .nav_bank{
    color: #b6b6b6;
    /* border-bottom: 3px solid #b6b6b6; */
  }

.main_digital_bank{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
    color: #5c5c5c;
}

.main_digital_bank::before {
    content: url("images/dot1.png");
    padding: 0px 5px 5px 5px;
}

.main_digital_bank::after {
    content: url("images/dot2.png");
    padding: 0px 0px 5px 5px;
}


.wrapper{
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.bank_card{
    flex-grow: 1;
}

.bank_card_content{
    max-width: 350px;
    width: 95%;
    height: 470px;
    margin: 25px auto;
    border: 1px solid #e6ae69;
    padding: 20px;
    background-color: #FFF0D2;
    border-radius: 20px;
    /* margin: 32px; */
}

.bank_card_content img{
    display: block;
    width: 100%;
    margin: 0 auto;
}




.bank_card_content h2{
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.bank_card_content h3{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
}

.bank_card_content p{
    line-height: 1.5;
}

.bank_card_content .btn1,
.bank_card_content .btn2{
    display: block;
    width: 100%;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.bank_card_content .btn1{
    border: 1px solid #FFBC86;
    background-color: white;
    color: #FFBC86;
}

.bank_card_content .btn2{
    border: 1px solid #FFBC86;
    background-color: #FFBC86;
    color: white;
}

/* 直式 */

.wrapper2{
    width: 58%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.bank_card2{
    flex-grow: 1;
}



.bank_card_content2{
    width: 350px;
    /* width: 95%; */
    height: 570px;
    margin: 25px auto;
    border: 1px solid #e6ae69;
    padding: 20px;
    background-color: #FFF0D2;
    border-radius: 20px;
}

.bank_card_content2 img{
    display: block;
    width: 205px;
    /* width: 80%; */
    margin: 0 auto;
}

.bank_card_content2 h2{
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.bank_card_content2 h3{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
}

.bank_card_content2 p{
    line-height: 1.5;
}


.bank_card_content2 .btn1,
.bank_card_content2 .btn2{
    display: inline-block;
    width: 49%;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}


.bank_card_content2 .btn1{
    border: 1px solid #FFBC86;
    background-color: white;
    color: #FFBC86;
}

.bank_card_content2 .btn2{
    border: 1px solid #FFBC86;
    background-color: #FFBC86;
    color: white;
}



/* ----------螢幕小於1400px時---------- */
@media screen and (max-width: 1400px){
    .wrapper{
        width: 85%;
    }
    .wrapper2{
        width: 95%;
    } 
}


/* ----------螢幕小於400px時---------- */
@media screen and (max-width: 400px){
    .bank_card_content2{
        width: 95%;
    }
}


/* ----------螢幕小於450px時---------- */
@media screen and (max-width: 1400px){
    .wrapper{
        width: 95%;
    }
    
}