.header_navigation_item .nav_shopping{
    color: #b6b6b6;
    /* border-bottom: 3px solid #b6b6b6; */
  }

.tab-content-1 div,
.tab-content-2 div,
.tab-content-3 div{
    margin: 6px;
}
  
  
#tab {
    width: 85%;
    background: #FFF2D8;
    border: solid 20px #FFF2D8;
    border-top: solid 10px #FFF2D8;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgb(48 48 48 / 25%);
}
  
/* 頁籤ul */
#tab > ul {
    /* overflow: hidden; */
    margin: 0;
    padding: 10px 20px 0 20px;
}

#tab > ul > li {
    list-style-type: none;
}

/* 頁籤上的文字 */
#tab > ul > li > a { 
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    float: left;
    padding: 10px;
    margin-left: 5px;
    letter-spacing: 3px;
}

#tab > ul > li > a:hover{
    color: #999999;
}


/*頁籤div內容*/
#tab > div {
    clear: both;
    padding: 0 15px;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

/*第一筆的底色*/
span:target ~ #tab > ul li:first-child a {
    background: #FFF2D8;
}


span:target ~ #tab > div:first-of-type {
    visibility: hidden;
    height: 0;
    padding: 0 15px; 
}

/*頁籤變換&第一筆*/
span ~ #tab > ul li:first-child a,
#tab-1:target ~ #tab > ul li a[href$="#tab-1"],
#tab-2:target ~ #tab > ul li a[href$="#tab-2"],
#tab-3:target ~ #tab > ul li a[href$="#tab-3"]{
    background: #fff;
    border-radius: 5px 5px 0 0;
}

span ~ #tab > ul li:first-child a::before,
#tab-1:target ~ #tab > ul li a[href$="#tab-1"]::before,
#tab-2:target ~ #tab > ul li a[href$="#tab-2"]::before,
#tab-3:target ~ #tab > ul li a[href$="#tab-3"]::before{
    background-color: white;
    height: 100%;
}

/*頁籤內容顯示&第一筆*/
span ~ #tab > div:first-of-type,
#tab-1:target ~ #tab > div.tab-content-1,
#tab-2:target ~ #tab > div.tab-content-2,
#tab-3:target ~ #tab > div.tab-content-3{
    visibility: visible;
    height: auto;
    background: #fff;
    border-radius: 10px;
}

span {
    display: none;
}
  

#tab{
margin: 30px auto;
max-width: 1102px;
}

.bookall{
    display: flex;
    flex-wrap: wrap;
}

.bookall .book{
    display: block;
    margin: 0 auto;
    max-width: 200px;
    width: 80%;
}

.bookall .book:hover{
    opacity: .5;
}

.bookall .heart{
    vertical-align: middle;
}

.word_contact{
    text-align: center;
}

.single{
    flex-grow: 1;
}

h3{
    font-weight: 600;
    font-size: 20px;
}

.buy{
    display: inline-block;
    background-color: #FFBC86;
    padding: 10px;
    border-radius: 5px;
}

.buy:hover{
    box-shadow: 1px 2px 5px rgb(48 48 48 / 25%);
}

a .buy{
    color: white;
}


.inner{
    margin: 5px;
}

.word_contact p{
    /* margin-bottom: 50px; */
    margin-bottom: 20%;
}

.word_contact a:active{
    color: #b6b6b6;
}

.word_contact a{
    color: #5c5c5c;
    font-weight: 600;
}

.fa-heart{
    display: inline-block;
    font-size: 24px;
    color: #E9E9E9;
}

.-on{
    color: #FFBD88;
    transform: scale(1.15);
}

.heart{
    border: none;
    background-color : transparent;
    vertical-align: middle;
}

.page{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .page a{
    padding-right: 10px;
    padding-left: 10px;
    line-height: 28px;
    text-decoration: none;
    color: #FFBD87;
    border: 2px solid #FFBD87;
    border-radius: 50%;
    font-weight: 600;
    margin: 0 5px;
  }
  
  .page a:active,
  .page a:hover{
    background-color: #FFBD87;
    color: white;
  }


/* 加愛心沒加愛心 */

#add_book {
    visibility: hidden;
    min-width: 20px;
    /* margin-left: -125px; */
    background-color: #FFBD87;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    position: fixed;
    z-index: 1;
    left: calc(50% - 100px);
    bottom: 30px;
    font-size: 20px;
}
    
#add_book.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 1s;
}
    
    
@keyframes fadein {
    from {bottom: 30px; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
    

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 30px; opacity: 0;}
}



#remove_book {
    visibility: hidden;
    min-width: 20px;
    /* margin-left: -125px; */
    background-color: #929292;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    position: fixed;
    z-index: 1;
    left: calc(50% - 100px);
    bottom: 30px;
    font-size: 20px;
    margin: 0 auto;
}
    
#remove_book.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 1s;
}
    
    
@keyframes fadein {
    from {bottom: 30px; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
    

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 30px; opacity: 0;}
}


/* 加愛心沒加愛心 end*/

/* ----------螢幕小於900px時---------- */
@media screen and (max-width: 900px){
    #tab{
        width: 95%;
    } 
}

/* ----------螢幕小於500px時---------- */
@media screen and (max-width: 500px){
    #tab > ul > li > a { 
        font-size: 16px;
    }
}